<p-progressSpinner *ngIf="!finishedLoading"></p-progressSpinner>

<div  *ngIf="finishedLoading">
    
        <p-dialog header="Create New House" [(visible)]="displayCreate">
        <div>
            <label for="name">House Name</label>
            <input type="text" #houseName>
        </div>
        <div>
            <label for="name">House password</label>
            <input type="text" #housePassword>
        </div>
        <button (click)="onsave(houseName,housePassword)">save</button>
    </p-dialog>

    
    <button *ngIf="!house" type="button" (click)="showDialogCreateHouse()" icon="pi pi-info-circle" label="Show">Add New House</button>
    <br>
    <p-dialog header="Join Existing House" [(visible)]="displayJoin">
    <div *ngIf="displayJoin">
        <div>
            <label for="name">House Name</label>
            <input type="text" #houseName>
        </div>
        <div>
            <label for="name">House password</label>
            <input type="text" #housePassword>
        </div>
        <button (click)="onjoin(houseName,housePassword)">join</button>
    </div>
    </p-dialog>

    <button *ngIf="!house" type="button" (click)="showDialogJoinHouse()" icon="pi pi-info-circle" label="Show">Join Existing House</button>


    <p-card *ngIf="house">
    <div *ngIf="house">
        <p-header>
            {{house.houseName}}
        </p-header>
        <ul>
            <li *ngFor="let groceryList of groceryLists" (click)="getGroceryList(groceryList); op.toggle($event)" >{{groceryList.groceryListName}}</li>
        </ul>
        <p-footer>
            <button type="button" (click)="displayGroceryListNameDialog()" icon="pi pi-info-circle" label="Show">Create new GroceryList</button>
            <p-dialog header="Grocery List Name" [(visible)]="displayGroceryListName">
                <div>
                    <label for="name">Grocery List Name</label>
                    <input type="text" #groceryListName>
                </div>
                <button (click)="createNewGroceryList(groceryListName)">save</button>
            </p-dialog>
        </p-footer>
    </div>
    
    </p-card>
    

    <p-card *ngIf="house">
        <div *ngIf="house">
          <p-header>
                <button type="button" (click)="getExpenses(); opExpense.toggle($event)" icon="pi pi-info-circle" label="Show">Expenses</button>
            </p-header>
        </div>
        
        </p-card>

    <p-overlayPanel #op [appendTo]="list">
        <ng-template pTemplate>
            <!-- <app-grocerylist [id]="selectedGorceryListId"></app-grocerylist> -->
            <app-grocerylist [currentGroceryList]="selectedGroceryList" (onSaveClick)="op.hide()" (onDeleteClick)="deleteGroceryListReload(); op.hide()"></app-grocerylist>
        </ng-template>
    </p-overlayPanel>

    <p-overlayPanel #opExpense [appendTo]="list">
        <ng-template pTemplate>
            <!-- <app-grocerylist [id]="selectedGorceryListId"></app-grocerylist> -->
            <!-- <app-grocerylist [currentGroceryList]="selectedGroceryList" (onSaveClick)="opExpense.hide()" (onDeleteClick)="deleteGroceryListReload(); opExpense.hide()"></app-grocerylist> -->
            <!-- <p-table [value]="expenses" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-product>
                    <tr [pSelectableRow]="rowData">
                        <td>{{expense.expense_name}}</td>
                        <td>{{expense.price}}</td>
                    </tr>
                </ng-template>
            </p-table> -->
            <ul>
                <li *ngFor="let expense of expenses"  >{{expense.expenseName}} {{expense.price}}</li>
            </ul>
        </ng-template>
    </p-overlayPanel>
</div>